# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# -------------------------
# Virtual Environments
# -------------------------
.venv/
venv/
ENV/

# -------------------------
# Environment variables
# -------------------------
.env

# -------------------------
# IDE / Editor
# -------------------------
.idea/
.vscode/
*.iml

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Docker
# -------------------------
docker-data/
mongo-data/
es-data/

# -------------------------
# Test / Coverage
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Misc
# -------------------------
.cache/
